/* <エディタ共通設定>----------------------- */

.propertyEditor .selected{
  background-color: rgba(0, 89, 255, 0.548);
}

/* ----------------------</エディタ共通設定> */


.propertyEditor.textAnchor{
  font-size:0;
}

.propertyEditor .textAnchorType{
  display: inline-block;
  padding: 2px;
}
